//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;


// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


// normalize
@import "layout/normalize";

// media
@import "config/media";

// config
@import "layout/fonts";
@import "layout/layout";
@import "config/mixins";



// blocks
@import "bloks/section";
@import "bloks/header";
@import "bloks/btns";
@import "bloks/first-screen";
@import "bloks/best";
@import "bloks/burgers";
@import "bloks/team";
@import "bloks/menu";
@import "bloks/reviews";
@import "bloks/order";
@import "bloks/contacts";
@import "bloks/popups";
@import "bloks/fixed-menu";
@import "bloks/fullsize-menu";



